{% extends 'base.html.twig' %}

{% block title %}CryptoGram{% endblock %}

{% block body %}
    <div {{ stimulus_controller('crypto',
        {
            'letters': letters,
            'hints': hints,
        }) }}
            {{ stimulus_action('crypto', 'handleKeyDown', 'keydown@window') }}
    >
        <div class="text-end">
            {% for l in locales %}
                <a href="{{ path('app_default', {'_locale':l}) }}">{{ l }}</a>
            {% endfor %}
        </div>
        <div class="row row-cols-auto">
            {% for letter in letters %}
                <div
                        {% if letter.isLetter %}
                            class="col text-center letter"
                            {{ stimulus_target('crypto', 'letter') }}
                            {{ stimulus_action('crypto', 'selectLetter', 'click', {'index':loop.index-1}) }}
                        {% else %}
                            {{ stimulus_target('crypto', 'letter') }}
                            class="col text-center"
                        {% endif %}
                >
                    {% if letter.isLetter %}
                        &nbsp;
                        <br>
                        {{ letter.code }}
                    {% else %}
                        {{ letter.letter }}
                    {% endif %}
                </div>
            {% endfor %}
        </div>

        <hr>

        <div>
            <div class="row row-cols-auto">
                {% for char in char_list %}
                    <div class="col text-center">
                        <button
                                {{ stimulus_target('crypto', 'key') }}
                                {% if char not in unique_letters %}
                                    class="btn btn-outline-secondary"  disabled
                                {% else %}
                                    class="btn btn-info"
                                    {{ stimulus_action('crypto', 'guessLetter', 'click', {letter:char}) }}
                                {% endif %}
                        >
                            {{ char }}
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>


    <div class="text-center">
        <a href="{{ path('app_default') }}" class="btn btn-success">{{ 'Play again'|trans }}</a>

    </div>

    <button class="btn btn-info">A</button> - Vorhanden
    <button class="btn btn-success">A</button> - Gefunden
    <button class="btn btn-secondary">A</button> - Alle gefunden
    <button class="btn btn-outline-secondary" disabled>A</button> - Nicht vorhanden
    <br>
    <span title="{{ phrase }}">.</span>

{% endblock %}
