{% extends 'base.html.twig' %}

{% block title %}CryptoGram{% endblock %}

{% block body %}
    <div {{ stimulus_controller('crypto',
        {
            'phrase' :phrase,
            'noLetters' :noLetters,

            'hoorays': ['hooray.0'|trans, 'hooray.1'|trans, 'hooray.2'|trans,
            'hooray.3'|trans, 'hooray.4'|trans,]
        }) }}
            {{ stimulus_action('crypto', 'handleKeyDown', 'keydown@window') }}
    >
        <div {{ stimulus_target('crypto', 'errorContainer')}}
                style="display:none;" class="alert alert-warning"
        >
            {{ 'Errors'|trans }}: <span {{ stimulus_target('crypto', 'error') }}></span>
        </div>

        <div class="row row-cols-auto cryptoContainer">
            {% for letter in letters %}
                <div
                        {{ stimulus_target('crypto', 'letter') }}
                        {% if letter.isLetter %}
                            class="col text-center letter"
                            {{ stimulus_action('crypto', 'selectLetter', 'click', {'index' : loop.index - 1}) }}
                        {% else %}
                            class="col"
                        {% endif %}
                >
                    <span {% if letter.isLetter %}class="letterContainer"{% endif %}>
                        {{ letter.isLetter ? '&nbsp;&nbsp;&nbsp;' : letter.letter }}
                    </span>
                    <br>
                    <span>
                        {{ letter.isLetter ? letter.code : '' }}
                    </span>
                </div>
            {% endfor %}
        </div>

        <div>
            <div {{ stimulus_target('crypto', 'success') }}
                    class="alert alert-success text-center" style="display: none"
            >
            </div>
        </div>

        <hr>

        <div>
            <div class="row row-cols-auto">
                {% for char in charList %}
                    <div class="col text-center">
                        <button
                                {{ stimulus_target('crypto', 'key') }}
                                {% if char in uniqueLetters %}
                                    {{ stimulus_action('crypto', 'guessLetter', 'click', {letter : char}) }}
                                    class="btn btn-info"
                                {% else %}
                                    class="btn btn-outline-secondary"  disabled
                                {% endif %}
                        >
                            {{ char }}
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <hr>

    <div class="text-center">
        <a href="{{ path('app_default') }}"
           class="btn btn-success play-again-button"
           accesskey="p"
           title="Alt-P"
        >
            {{ 'Play again'|trans }}
        </a>
    </div>

    <hr>

    <div class="container text-center">
        <div class="row row-cols-auto">
            <div class="col">
                <button class="btn btn-info">X</button>
                <br>{{ 'Present'|trans }}</div>
            <div class="col">
                <button class="btn btn-success">X</button>
                <br>{{ 'Found'|trans }}</div>
            <div class="col">
                <button class="btn btn-secondary">X</button>
                <br>{{ 'All found'|trans }}</div>
            <div class="col">
                <button class="btn btn-outline-secondary" disabled>X</button>
                <br>{{ 'Not present'|trans }}</div>
        </div>
    </div>

    <br>

    {# TODO: remove this =;) #}
    <span title="{{ phrase }}">.</span>

{% endblock %}
